<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dodaj Recept
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-margin">
    <ion-label position="floating">Ime</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating">Seznam sestavin</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating" type="number">Število kalorij</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="full" class="ion-margin ion-align-self-stretch">Dodaj Fotografijo</ion-button>
</ion-content>
