<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Išči
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [(ngModel)]="myInput"
    (ionChange)="onInput()">
  </ion-searchbar>

  <div style="display: flex">
    <ion-card style="display: flex; flex-wrap: wrap;" class="ion-margin" *ngFor="let food of searchFoods">
      <ion-img class="foodImage ion-margin" [src]="food.imgBase64"></ion-img>
      <div class="foodTextDiv">
        <ion-title>{{food.name}}</ion-title>
        <label>{{food.ingredients}}</label><br>
        <label>{{food.calories}}</label>
      </div>
    </ion-card>
  </div>

</ion-content>
