<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moji vnosi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <ion-title>Username</ion-title>
    </ion-item>
    <ion-item>
      <ion-title>Število kalorij:</ion-title>
    </ion-item>
  </ion-header>
  <ion-list>
    <ion-item>
      <div>
        <ion-img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTl8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" class="food_pic"></ion-img>
      </div>
      <div style="text-align: center">
        <div id="food_name_div">
          <ion-title class="ime_hrane">Ameriške palačinke</ion-title>
        </div>
        <div>
          <ion-label>Lorem ipsum</ion-label>
        </div>
        <div style="">
          <ion-label class="st_kalorij">335</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
